<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if (users.length > 0) { %>
            <% for (let user of users) { %>
                <h1><%= user.name %></h1>
            <% } %>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>