1. Create a npm project and install express
2. Create an express app which serves two HTML files for "/" and "/users"
3. Add some static files to your project that should be required by at least one of your HTML files